.full-width-table {
  width: 100%;
}

.mat-header-cell{
  font-size: large;
  text-align: center;
  color: white;
}

.mat-header-row{
  background-color: steelblue;
}

.mat-cell{
  font-size: medium;
  color: gray;
}

.mat-paginator{
  font-size: medium;
}
