.profile-header-image {
  background-size: cover;
  width: 250px;
  height: 250px;
  border-radius: initial;
}

p {
  color: gray;
}

.mat-card {
  border-radius: 20px;
}

.mat-card-actions{
  margin-left: 300px;
}

.sizing {
  margin-top: 10%;
  padding: 2%;
}
